body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('image/background.jpg'); /* 背景图片 */
  background-size: cover; /* 背景图像宽度自适应，高度自适应但保持其纵横比 */
  background-repeat: no-repeat; /* 禁止背景图像重复 */
  background-position: bottom:; /* 背景图像在视口中居中且位于底部显示 */
  backdrop-filter: blur(5px); /* 使用背景滤镜来添加模糊效果 */
}
body {
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
      margin: 0;
      padding: 0;
    }
 @font-face {
  font-family: 'MyFont';
  src: url('font/font.ttf') format('truetype');
}

.query-tool {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

img {
  max-width: 100%;
  height: auto;
}

.mode-selector {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* 简化按钮样式 */
.mode-selector
